:root{
 --vermelho: #e50914;
 --preta: #141414;
 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*elementos básicos*/

body{
 background: var(--preta);
 font-family: Arial, Helvetica, sans-serif;
 color: white;
}



header .container{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: center;
  padding-left: 5px;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
 }
 
.logo{
   height: 4rem;
   margin-left: 100px;
   
}

header nav {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between; 
}

header nav a{
text-decoration: none;
color: #aaa;
margin-left: 10px;
font-size: 15px;
white-space:nowrap;
}

header nav a:hover {
  color: #fff; 
}

header div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 60px;
  padding-left: 700px;
  font-size: 15px;
  white-space:nowrap;
  
}

header div a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header div a:hover {
  color: #fff; 
}

/*filme principal*/

.serie-principal{
font-size: 20px;
background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%) , url("../img/peacemaker-series.jpg");
height: 600px;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}

.serie-principal .descricao{
   margin-bottom: 30px;
   margin-top: 30px;
}

.titulo{
  margin-top: 20%;
  display: flex;
  height: 10rem;
}

.botao{
background-color: rgb(255, 255, 255);
border: none;
color: black;
padding: 15px;
border-radius: 7px;
margin-right: 20px;
font-size: 14px ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
cursor:pointer;
transition: .3s ease all;
}

.botao:nth-child(2){
background-color: rgb(190, 187, 187) ;
border: none;
color: black;
padding: 15px;
border-radius: 10px;
margin-right: 20px;
font-size: 14px ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
cursor:pointer;
transition: .1s ease all;
}

.botao:hover{
  background:linear-gradient( rgba(235, 227, 227, 0.74),rgba(235, 227, 227, 0.74)100%) ;
  color:black;
}
.botao i{
  margin-right: 8px;
}

.serie-principal .container{
  margin-left: 40px;
  width: 60%;
}

.box-file{
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 5px;
}

.carrosel-filme{
  margin-top: 25px;
}








